/* USA */
.rsm-geography:nth-child(5) {
  fill: #6993ff;
}
/* Indonesia */
.rsm-geography:nth-child(9) {
  fill: #f64e60;
}
/* Brazil */
.rsm-geography:nth-child(30) {
  fill: #ffa800;
}
/* China */
.rsm-geography:nth-child(140) {
  fill: #8950fc;
}
/* Saudi Arabia */
.rsm-geography:nth-child(159) {
  fill: #00ab9a;
}
/* Egypt */
.rsm-geography:nth-child(164) {
  fill: #bc1f34;
}
